.card-grid {
    columns: 2;
    gap: var(--card-grid-gutter-width);

    padding: 0;

    user-select: none;

    &.selectable {
        user-select: initial;
    }

    @media (min-width: 768px) {
        columns: 3;
    }

    @media (min-width: 992px) {
        columns: 4;
    }

    @media (min-width: 1200px) {
        columns: 5;
    }

    &.clickable .card {
        cursor: pointer;
        background-color: var(--card-color);
        transition: background-color 200ms ease-in-out;

        &:hover {
            background-color: var(--card-color-hover);
        }
    }
}
