@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.chip {
  display: inline-flex;
  flex-direction: row;
  position: relative;

  border: 2px solid var(--card-border-color);
  border-radius: 0.25rem;

  box-sizing: border-box;
  height: 2rem;
  min-height: 2rem;

  background-color: #fff;
  transition: background-color ease-in-out 250ms;

  user-select: none;

  &::before {
    --angle: 0deg;

    content: "";
    position: absolute;
    inset: -2px;

    border-radius: 0.25rem;
    border: 2px solid transparent;

    background: conic-gradient(
        var(--chip-color-active) var(--angle),
        transparent 0deg
      )
      border-box;
    mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;

    transition: --angle 250ms ease-in-out;
  }

  &.active::before {
    --angle: 360deg;
  }

  &:hover,
  &:focus {
    background-color: var(--chip-color-hover);
  }

  & > input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;

    display: block;

    height: 2rem;
    width: 0;
    padding: 0;
    margin: 0;
    margin-top: -0.75rem;
  }

  & > label {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    position: relative;

    line-height: 1.5rem;
    padding: 0.25rem 1rem;

    cursor: pointer;

    position: relative;

    & > object {
      display: block;
      height: 1.5rem;
      width: 1.5rem;

      position: absolute;
      bottom: -0.5rem;
      right: -0.5rem;

      transition: all 50ms ease-in-out;

      &.hidden {
        height: 0;
        width: 0;

        bottom: 0.25rem;
        right: 0.25rem;
      }
    }

    & > p {
      margin: 0;
      padding: 0;
    }
  }
}
