.menu-grid {
  --menu-grid-gutter-width: 1rem;
  --menu-grid-item-color: rgb(255, 255, 255);

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding: 0 0 0 calc(var(--menu-grid-gutter-width) / 2);

  user-select: none;

  &.selectable {
    user-select: initial;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(6, 1fr);
  }

  .menu-grid-item {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--menu-grid-item-color);
    box-shadow: 1px 1px 6px -1px #bbb;

    position: relative;

    height: 0;
    width: calc(100% - var(--menu-grid-gutter-width) / 2);

    margin: calc(var(--menu-grid-gutter-width) / 2) 0 0 0;
    padding-bottom: calc(100% - var(--menu-grid-gutter-width) / 2);

    & > div {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.clickable .menu-grid-item {
    cursor: pointer;
    background-color: var(--menu-grid-item-color);
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: rgb(250, 250, 250);
    }
  }
}
