:root {
    --color-main: #348c1e;
    --color-main-shade-1: #256515;
    --color-main-shade-2: #13320b;

    --color-text: #090b0a;
    --color-text-hightlight-1: #2e3833;
    --color-text-inverted: #dceed1;

    --color-error: #e12c0c;

    --color-background: white;

    --color-shadow: #090b0a4f;

    --card-grid-gutter-width: 0.5rem;
    --card-color: #ebf7d8;
    --card-color-darken: #cddbb8;
    --card-border-color: #cddbb8;

    --chip-color-active: var(--color-main);
    --chip-color-hover: #dceed1;

    --fab-color: #348c1e;
    --fab-color-hover: #256515;
    --fab-border-color: #256515;
}
