:root {
    --color-main: #348c1e;
    --color-main-darker-1: #256515;
    --color-main-darker-2: #13320b;
    --color-main-lighter-1: #bde8a2;
    --color-main-lighter-2: #dceed1;

    --color-text: #090b0a;
    --color-text-highlight-1: #2e3833;
    --color-text-inverted: var(--color-main-lighter-2);

    --color-error: #e12c0c;

    --color-background: #ffffff;

    --color-shadow: #090b0a4f;
    --color-overlay: #090b0ab9;

    --card-grid-gutter-width: 0.5rem;
    --card-color: var(--color-main-lighter-1);
    --card-color-hover: var(--color-main-lighter-2);
    --card-color-border: var(--color-main-darker-1);
    --card-color-text: var(--color-text);

    --chip-color-active: var(--color-main);
    --chip-color-hover: var(--color-main-lighter-2);

    --chip-filter-background: var(--color-main-lighter-1);
    --chip-filter-delete: #2e3833;

    --dropdown-color-border: var(--color-main-darker-1);
    --dropdown-color-hover: var(--color-main-lighter-2);
    --dropdown-color-selected: var(--color-main-lighter-1);

    --fab-color: var(--color-main);
    --fab-color-icon: var(--color-main-lighter-2);
    --fab-color-hover: var(--color-main-darker-1);
    --fab-color-border: var(--color-main-darker-1);

    --color-star: var(--color-main);
}

a {
    text-decoration: none;

    &:active,
    &:focus,
    &:hover,
    &:visited {
        color: initial;
    }
}
