@import url("_theme.scss");

@import url("_title_bar.scss");
@import url("_card_element.scss");
@import url("_card_grid.scss");
@import url("_chip_element.scss");
@import url("_floating_action_button.scss");
@import url("_text_input.scss");

body {
  margin: 0;
  padding: 0;
}

#app {
  color: var(--color-text);
  background-color: var(--color-background);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0 auto;

  min-height: 100vh;
  --content-width: 100vw;

  @media (min-width: 1200px) {
    --content-width: 1200px;
  }

  overflow-x: hidden;

  main {
    box-sizing: border-box;
    padding: 1rem;
    width: 100vw;

    @media (min-width: 1200px) {
      margin: 0 auto;
      width: var(--content-width);
    }

    & > .fullsize {
      margin: -1rem;
    }
  }
}
