@import url("_theme.scss");

@import url("_title_bar.scss");

@import url("./components/components.scss");
@import url("./forms/forms.scss");
@import url("./icons/icons.scss");
@import url("./views/views.scss");

@import url("_utilities.scss");

body {
    margin: 0;
    padding: 0;
}

#app {
    color: var(--color-text);
    background-color: var(--color-background);

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0 auto;

    min-height: 100vh;
    --content-width: 100vw;

    overflow-x: hidden;

    scrollbar-width: thin;

    @media (min-width: 1200px) {
        --content-width: 1200px;
    }

    main {
        box-sizing: border-box;
        padding: 1rem;
        width: 100vw;

        @media (min-width: 1200px) {
            margin: 0 auto;
            width: var(--content-width);
        }

        & > .fullsize {
            margin: -1rem;
        }
    }
}

.product-grid-filter {
    display: flex;
    gap: 0.25rem;
    margin: 0 0 1rem 0;
}

svg {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}
