#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0 auto;

  --content-width: 100vw;
  width: 100vw;

  @media (min-width: 1200px) {
    margin: 0 auto;

    --content-width: 1200px;
    width: 1200px;
  }
}

@import url("_menu_grid.scss");
