.dropdown-list {
    display: flex;
    flex-direction: column;

    border: 0.0625rem solid var(--dropdown-color-border);
    border-top-color: transparent;
    border-radius: 0 0 0.25rem 0.25rem;

    background-color: var(--color-background);
    overflow-y: auto;
    scrollbar-width: thin;

    max-height: calc(10rem);
    height: 100%;
    margin: 0;
    padding: 0;

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        line-height: calc(2rem - 2px);
        border-bottom: 0.0625rem solid var(--dropdown-color-border);

        padding: 0.5rem 1rem;

        cursor: pointer;
        background-color: var(--color-background);

        transition: background-color ease-in-out 250ms;

        &:hover,
        &:focus,
        &:focus-visible,
        &:active {
            background-color: var(--dropdown-color-hover);
            outline: none;
        }

        &:last-of-type {
            border-bottom: none;
            border-radius: 0 0 0.25rem 0.25rem;
        }
    }
}
